body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #5e8b7e;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #5e8b7e;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 10% 7%;
}

/* Title Image */

.title-image {
  width: 80%;
  transform: rotate(0deg);
  position: absolute;
  right: 10%;
}

/* Features Section */

#features {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 3.5%;
}

.icon {
  margin-bottom: 1rem;
  width: 40%;
}

/* Testimonial Section */

#testimonials {
  background-color: #5e8b7e;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #5e8b7e;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.card-header {
  background: #5e8b7e;
}

/* CTA Section */

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
